@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Syne:wght@800&family=Whisper&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region --------------------- GENERIC STYLES -------------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light; dark; */
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --behind-chat-bubble-tail-color: #f1f1f1; /* default, override to match background at runtime */
  --toolbar-height: 50px; /* default, override w actual height at runtime */
}

#root {
  margin: 0 auto;
  padding: 5px;
  place-self: end;
  width: 100%;
  height: calc(100vh - var(--toolbar-height));
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
}

.debug {
  border: 3px dashed greenyellow;
}

/* #endregion ------------------------------------------------------ */

/* #region ---------------------- CHAT STYLES ---------------------- */
/* Inspiration: https://codepen.io/AllThingsSmitty/pen/jommGQ */

.chat-container {
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-bubble {
  border-radius: 1.15rem;
  line-height: 1.25;
  padding: 0.5rem 0.875rem;
  position: relative; /* for absolute tails */
  word-wrap: break-word;
  width: fit-content;
}

.chat-bubble::before,
.chat-bubble::after {
  /* all tails */
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.chat-bubble.from-me {
  align-self: flex-end;
  background-color: #0391ca;
  color: var(--behind-chat-bubble-tail-color);
}

.chat-bubble.from-me::before {
  /* our tail */
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1.3rem solid #0391ca;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.chat-bubble.from-me::after {
  /* our tail */
  background-color: var(--behind-chat-bubble-tail-color);
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.chat-bubble.from-them {
  align-items: flex-start;
  background-color: black;
  color: var(--behind-chat-bubble-tail-color);
}

.chat-bubble.from-them:before {
  /* their tail */
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1.3rem solid black;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.chat-bubble.from-them::after {
  background-color: var(--behind-chat-bubble-tail-color);
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.no-tail::before {
  display: none;
}

/* #endregion ------------------------------------------------------ */
