@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region VITE NEW APP DEFAULT STYLES */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* dark; */
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --behind-chat-bubble-tail-color: #fafafa;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafafa !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fafafa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* APP.CSS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* #endregion */

/* #region GENERIC STYLES */

.debug {
  border: 3px dashed greenyellow;
}

/* #endregion */

/* #region CHAT STYLES */

.chat-container {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

.chat-bubble {
  border-radius: 1.15rem;
  line-height: 1.25;
  padding: 0.5rem 0.875rem;
  position: relative; /* for absolute tails */
  word-wrap: break-word;
  width: fit-content;
}

.chat-bubble::before,
.chat-bubble::after {
  /* all tails */
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.chat-bubble.from-me {
  align-self: flex-end;
  background-color: #82a4c7;
  color: var(--behind-chat-bubble-tail-color);
}

.chat-bubble.from-me::before {
  /* our tail */
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1.3rem solid #82a4c7;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.chat-bubble.from-me::after {
  /* our tail */
  background-color: var(--behind-chat-bubble-tail-color);
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.chat-bubble.from-them {
  align-items: flex-start;
  background-color: black;
  color: var(--behind-chat-bubble-tail-color);
}

.chat-bubble.from-them:before {
  /* their tail */
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1.3rem solid black;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.chat-bubble.from-them::after {
  background-color: var(--behind-chat-bubble-tail-color);
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.no-tail::before {
  display: none;
}

/* #endregion */
